[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule ".backlog"]
	path = .backlog
	url = git@github.com:waliaabhishek/bl_blog.git
